* {
  margin: 0;
  padding: 0;
  border: 0;
  //border: 1px solid red;
  vertical-align: baseline;
  box-sizing: border-box;
  //uncomment line below for laughs
  //animation: 6s infinite allRotate;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
html {
  -ms-overflow-style: none;
}


body {
  font-family: Montserrat-Regular, sans-serif;
  background: $main-purple;
}



button {
  margin: 0;
}
a, a:active, a:hover, a:focus{
  text-decoration: none;
}
input, input:active, select, select:active{
  outline: none;
}

@keyframes allRotate {
  0%{
    transform: rotate(360deg);
  }

  100%{
    transform: rotate(0deg);
  }
}
