.action-button {
  background-color: $secondary-purple;
  font-family: Montserrat-SemiBold, sans-serif;
  color: white;
  padding: 1.5rem 3.5rem;
  width: 100%;
  border-radius: 10px;
  font-size: 2rem;
  cursor: pointer;
  transition: .5s all ease-in-out;
  box-shadow: $box-shadow-purple;

  &:hover, &:focus, &:not(disabled) {
    cursor: pointer;
    outline: none;
    transition: all .2s;
    transform: translateY(-3px);
    box-shadow: $box-shadow-purple;
    animation: 1s pulse infinite;
  }

  &:active {
    transform: translateY(1px);
    box-shadow: $box-shadow-white;
  }

  &:hover {
    background-color: white;
    color: $swatch_5;
  }

  &:disabled {
    background-color: darkgray;
    box-shadow: none;

    &:hover, &:active, &:focus {
      color: white;
    }
  }


  @media screen and (min-width: 1024px) {
    background-color: $secondary-purple;
    &--color-reverse {
      background-color: $main-purple;
    }
  }
}