.content-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);


  &__item {
    margin: 5px;
  }


  @media screen and(min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media screen and(min-width: 1440px) {
    grid-template-columns: repeat(5, 1fr);
  }
}