.content-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px 10px;

  @media screen and(min-width: 1024px) {
    grid-gap: 2rem 2.6rem;
    grid-template-columns: repeat(4, 1fr);
  }

  @media screen and(min-width: 1440px) {
    grid-template-columns: repeat(5, 1fr);
  }

  @media screen and(min-width: 1800px) {
    grid-template-columns: repeat(6, 1fr);
  }

  &--empty {
    margin: 5rem 0;
    font-size: 4rem;
    color: white;
    font-family: Montserrat-Regular, sans-serif;
  }
}