.dropdown-item {
  width: 100%;
  background-color: $secondary-purple;
  color: white;
  margin: 5px;
  border-radius: 5px;
  transition: 2s all ease-in-out;

  &__shown {
    cursor: pointer;
    font-size: 3rem;
    padding: 2rem 2rem;
  }

  &__hidden {
    background-color: rgba(255, 255, 255, 0.82);
    color: $secondary-purple;
    font-size: 2rem;
    padding: 2rem;
    display: none;

    &.false {
      animation: slideOut 1.3s ease-in-out;
      display: block;
    }
  }

  @keyframes slideOut{
    0%{
      transform: translateY(-100%);
      opacity: 0%;
    }

    45%{
      transform: translateY(0);
      opacity: 100%;
    }

    70%{
      transform: scale(1.005);
    }
    85%{
      transform: scale(0.995);
    }
    100%{
      transform: scale(1);
    }
  }
}