.faq-list{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  &__title{
    font-size: 3rem;
    margin-bottom: 4rem;
  }

  &__item{
    width: 90%;
    margin: 0 auto;
  }

  @media screen and (min-width: 1024px){
      margin: 0 auto;
      width: 80%;
  }
}