.faq-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90%;

  &__title {
    font-size: 3rem;
    font-family: Montserrat-Bold, sans-serif;
    margin-bottom: 4rem;
  }

  &__item {
    width: 90%;
    margin: 0 auto;
  }

  @media screen and (min-width: 1024px) {
    width: 100%;
    margin: 10rem auto;
    &__title {
      font-size: 4rem;
      font-family: Montserrat-Bold, sans-serif;
    }

    &__item {
      width: 100%;
    }
  }

  @media screen and (min-width: 1800px) {
    font-size: 18rem;
  }
}