.scroll-to-top {
  cursor: pointer;
  transition: 0.5s ease-in-out all;
  background: $secondary-purple;

  img {
    width: 100%;
  }

  padding: 1rem;
  position: fixed;
  right: 20px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: $box-shadow-purple;

  &:hover, &:focus {
    cursor: pointer;
    outline: none;
    transition: all .2s;
    transform: translateY(-3px);
    box-shadow: $box-shadow-white;
  }

  &:active {
    transform: translateY(1px);
    box-shadow: $box-shadow-white;
  }

  &:hover {
    background-color: white;
    color: $swatch_5;
  }
}