$swatch_1: #030206;
$swatch_2: #6f67fd;
$swatch_3: #3d243d;
$swatch_4: #953ed3;
$swatch_5: #6c2ad4;
$secondary-purple: #4131a1;
$main-purple: #070b20;
$main-accent: #fc5400;
$swatch_7: #ce2c1f;
$swatch_8: #c5bdbd;

//breakpoints map
$breakpoints: (
        'small': (min-width: 768px),
        'medium': (min-width: 1024px),
        'large': (min-width: 1440px),
        'huge': (min-width: 1920px),
);