$swatch_1: #030206;
$swatch_2: #6f67fd;
$swatch_3: #3d243d;
$swatch_4: #953ed3;
$swatch_5: #6c2ad4;
$secondary-purple: #0d1339;
$main-purple: #070b20;
$main-accent: rgba(202, 5, 255, 0.29);
$swatch_7: #ce2c1f;
$swatch_8: #c5bdbd;

$box-shadow-purple: 1px 2px 5px rgba(166, 119, 255, 0.62);
$box-shadow-white: 2px 4px 5px rgba(255, 255, 255, 0.62);

