.video-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media screen and(min-width: 1024px) {
    margin-left: 180px;
    padding: 0 5rem;
  }

  @media screen and (min-width: 1800px){
    margin-left: 180px;
  }
}
